body {
    background-color: #272727;
}

#DiaryLoginDiv {
    margin: 0px auto;
    max-width: 300px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 16px;
    text-align: center;
    color: #ffffff;
}

#DiaryPasswordInput,
#DiarySetPasswordInput {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    width: 100%;
    margin: 6px 0px 6px 0px;
    padding: 6px;
    border: none;
    outline: none;
    background-color: #373737;
    color: #ffffff;
    border-radius: 4px;
}