body {
    background-color: #ffffff;
}

#MainHeading {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 16px;
    text-align: center;
}
#SignInDiv {
    border: 1px solid #000000;
    margin: 0px auto;
    padding: 15px;
    max-width: 300px;
    border-radius: 5px;
}
#SignInDiv h4 {
    font-family: Arial, Helvetica, sans-serif;
    margin: 6px 0px 6px 0px;
    padding: 0px;
    cursor: default;
}
#SignInDiv input {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    width: 100%;
    margin: 6px 0px 6px 0px;
    padding: 6px;
    border: 1px solid #000000;
    border-radius: 5px;
    outline: none;
    background-color: #ffffff;
}

#SignInDiv button {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    width: 100%;
    margin: 6px 0px 6px 0px;
    padding: 6px;
    border: none;
    cursor: pointer;
    background-color: #1a73e8;
    color: #ffffff;
    border-radius: 5px;
    outline: none;
    -webkit-tap-highlight-color: #ffffff;
}

#SignInDiv button:hover {
    background-color: #0a63d8;
}
#PleaseWaitDiv {
    margin: 40px auto;
    padding: 4px;
    border: 8px solid #1a73e8;
    border-radius: 50%;
    border-top: 8px solid #ffffff;
    width: 40px;
    height: 40px;
    -webkit-animation: PleaseWaitDivSpin 2s linear infinite;
    animation: PleaseWaitDivSpin 1s linear infinite;
}
  
@-webkit-keyframes PleaseWaitDivSpin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}
  
@keyframes PleaseWaitDivSpin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
