body {
    background-color: #080710;
    /* background-color: #320070; */
    font-family: 'Poppins',sans-serif;
}

button {
    cursor: pointer;
    background-color: whitesmoke;
}

input {
    background-color: rgba(255,255,255,0.07);
}

#top_bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-style: solid;
    border-width: 0px 0px 1px 0px;
}


#top_bar > div>h1{
    color: rgb(0, 145, 255);
}


#top_bar_options {
    display: flex;
    flex-direction: row;
}

#top_bar_options #deleted_notes_option> button:nth-child(1) {
    color: rgb(0, 145, 255);
}
#top_bar_options > button {
    font-family: 'Poppins',sans-serif;
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    color: orange;
    background-color: #080710 ;
}
#sign_up_container,
#sign_in_container {
    border: 2px solid rgba(255,255,255,0.1) ;
    margin: 100px auto;
    /* padding: 0px 8px 0px 8px; */
    width: 350px;
    height: 420px;
    border-style: solid;
    border-width: 1px;
    /* border-color: #ffffff; */
    border-radius: 10px;
    background-color: rgba(255,255,255,0.13);
    top: 50%;
    left: 50%;
    backdrop-filter: blur(10px);
    box-shadow: 0 0 40px rgba(76, 76, 76, 0.6);
    padding: 50px 35px;
}

#sign_up_container > input,
#sign_in_container > input {
    font-size: 16px;
    font-weight: 300;
    font-family: 'Poppins',sans-serif;
    color: #ffffff;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    width: 100%;
    margin: 20px 0px 8px 0px;
    padding: 0 10px;
    border-style: solid;
    border-width: 0px 0px 1px 0px;
    border-color: #ffffff;
    outline: none;
    /* text-shadow: 0.5px 0.5px 1px #ffffff; */
    display: block;
    height: 50px;
    border-radius: 3px;
}

#sign_up_container > button,
#sign_in_container > button{
    font-size: 18px;
    font-weight: 600;
    font-family: 'Poppins',sans-serif;
    width: 100%;
    background-color: #ffffff;
    margin: 8px 0px 8px 0px;
    padding: 15px;
    border-style: solid;
    border-width: 1.5px;
    border-color: rgb(0, 145, 255);
    cursor: pointer;
    outline: none;
    border-radius: 8px;
    -webkit-tap-highlight-color: transparent;
}

#sign_up_container > button:hover,
#sign_in_container > button:hover{
    background-color: #000000;
    color: #ffffff;
}

#sign_up_container > h1,
#sign_in_container > h1 {
    text-align: center;
    margin: 8px 0px 8px 0px;
    padding: 6px;
    color: rgb(0, 145, 255);
    /* color: #C3070F; */
}

#search_input {
    display: block;
    width: 50%;
    margin: 30px auto;
    box-sizing: border-box;
    padding: 10px;

    font-family: 'Poppins',sans-serif;
    font-size: 20px;
    border-radius: 4px;
    color: whitesmoke;
}

#notes_container,
#deleted_notes_container{
    display: grid;
    grid-template-columns: auto auto auto auto;
    padding: 10px;
    gap: 10px;
}

#notes_container > div,
#deleted_notes_container > div{
    border: 1px solid rgba(255,255,255,0.13);
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
    background-color: rgba(255,255,255,0.13);
    color: white;
    /* border-color: #D83F87; */
}

#note_editor,
#new_note_editor,
#deleted_note_manager{
    width: 50%;
    margin: 10px auto;
    box-sizing: border-box;
    padding: 10px;
    color: white;
    border: 1px solid #000000;
    border-radius: 4px;
}
#note_editor_note,
#new_note_editor_note,
#deleted_note_manager_note{
    padding: 15px 32px;
    margin: 4px 2px;
    border: 1px solid #000000;
    background-color: rgba(255, 255, 255, 0.143);
    color: white;
    border-radius: 4px;
}
#note_editor_options,
#new_note_editor_options,
#deleted_note_manager_options{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#note_editor_options > div:nth-child(2),
#deleted_note_manager_options > div:nth-child(2){
    display: flex;
    flex-direction: row;
}

#note_editor_options > div >button,
#deleted_note_manager_options > div >button,
#new_note_editor_options > div >button {
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-family: 'Poppins',sans-serif;
    margin: 4px 2px;
    cursor: pointer;
    color: white;
    background-color: transparent;
}

span{
    color: orange;
}
